.page_heading {
    font-size: 2.3em;
    line-height: 28px;
    color: #101f30;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 32px;
    padding-bottom: 15px;
}

.main_para {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-style: normal;
    font-family: "Lato", sans-serif;
    font-size: 17px;
    line-height: 28px;
    color: #101f30;

}