.option-main-headding {
    font-weight: 700;
    color: #101f30;
    text-align: center;
    font-size: 40px;
    font-family: inherit;
    margin: 0 auto 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 55px 0px 30px;
}

.MuiTabs-indicator {
    background-color: #00aeef;
}

.tab-first-headding {
    font-size: 14px;
    color: #a3a3a3;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}

.tab-second-headding {
    font-size: 27px;
    font-weight: 700;
    line-height: 1.33;
    color: #101f30;
    margin-bottom: 10px;
}

.tab-theard-headding {
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    color: #454545;
    margin-bottom: 10px;
}

.tab-grid-box {
    padding: 60px 0 0 0px;
    height: 391px;
    /* display: none; */
    justify-content: space-between;
}

.compare-btn {
    background-color: #00aeef;
    padding: 12px 50px;
}

.faq-headding {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
    color: #000;

}

.faq-para {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;

}

.singal-box-headding {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    margin-right: 16px;
    width: 225px;
    text-decoration: none;
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #e3e6e8;
    padding: 14px 28px;
    width: 80%;

}

.faq-box-headding {
    margin: 0;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.faq-box-para {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    padding-top: 12px;
}